.container {
  width: 50%;
  height: 50%;
  direction: rtl;
}

.contactsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #0ba0d0;
  border-radius: 8px;
  box-shadow: 2px 1px 16px 9px lightblue;
  padding: 20px;
}

.searchbox {
  border: 1px solid gray;
  border-radius: 4px;
  width: 600px;
  padding: 10px;
  margin-bottom: 20px;
}
